* { color: $OnSurf; }
QMainWindow { background-color: $Surf; }

*[bg=true], #card, #highcard, #curtxt,
IcoButton, QPushButton {
    border-radius: 12px;
}
IcoButton:hover, IcoButton:pressed,
QPushButton:hover, QPushButton:pressed {
    border-radius: 9px;
}

*[bg=true] { background-color: $SurfContnrLow; }
#card { background-color: $SurfContnr; }
#highcard { background-color: $SurfContnrHigh; }

#cardcont { background-color: $SurfContnr; }
#transpbg { background: transparent; }

#curtxt { padding: 8px; }

IcoButton, QPushButton {
    padding: 4px;
    border-width: 2px;
}

^^grps

*[btnsty~=round] {
    border-radius: 18px;
}
*[btnsty~=round]:hover, *[btnsty~=round]:pressed {
    border-radius: 15px;
}
*[btnsty~=big] {
    padding: 10px 18px;
    border-radius: 16px;
}
*[btnsty~=big]:hover, *[btnsty~=big]:pressed {
    border-radius: 13px;
}
*[btnsty~=outline] {
    background: $SurfContnrHighest;
    border: 2px solid $Outl;
}
*[btnsty~=outline]:pressed {
    background: $!SurfContnrHighest;
}

#confirmButtons QPushButton {
    padding: 4px 8px;
}

QFrame[frameShape="4"], QFrame[frameShape="5"] {
    background-color: $Outl;
    color: $Outl;
}

Spoiler QToolButton {
    color: $OnSecContnr;
    background-color: $SecContnr;
    padding: 9px 6px;
    border-radius: 12px;
    qproperty-lineColour: $OutlVar;
    qproperty-lineWidth: 3px;
}
Spoiler QToolButton:pressed {
    background-color: $!SecContnr;
}
Spoiler QToolButton:hover, Spoiler QToolButton:pressed {
    border-radius: 9px;
}
Spoiler[open=true] QToolButton {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
Spoiler #contentArea {
    color: $OnSurf;
    background-color: $SurfContnr;
    border-radius: 6px;
}

TaskBubble { background: transparent; }
TaskBubble QLabel[bubble=top] {
    color: $OnPrimContnr;
    background-color: $PrimContnr;
    border-top-left-radius: 12px;
    padding: 8px; padding-bottom: 4px;
}
TaskBubble[pressed=true] QLabel[bubble=top] {
    background-color: $!PrimContnr;
}
TaskBubble[hovered=true] QLabel[bubble=top],
TaskBubble[pressed=true] QLabel[bubble=top] {
    border-top-left-radius: 9px;
}

TaskBubble QLabel[bubble=bot] {
    color: $OnPrimContnr;
    background-color: $!PrimContnr;
    border-bottom-left-radius: 12px;
    padding: 8px; padding-top: 4px;
}
TaskBubble[pressed=true] QLabel[bubble=bot] {
    background-color: $!!PrimContnr;
}
TaskBubble[hovered=true] QLabel[bubble=bot],
TaskBubble[pressed=true] QLabel[bubble=bot] {
    border-bottom-left-radius: 9px;
}

QPushButton[bubblebtn=true] {
    border-radius: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: 0px;
    padding: 8px; padding-top: 4px;
}
QPushButton[bubblebtn=true]:hover,
QPushButton[bubblebtn=true]:pressed {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

QTextEdit, QLineEdit {
    color: $OnSurf;
    background-color: $SurfContnrHigh;
    border-style: solid;
    border-width: 2px;
    border-color: $OutlVar;
    padding: 4px;
}
QTextEdit:focus, QLineEdit:focus {
    border-color: $Outl;
}
QTextEdit, QLineEdit {
    border-radius: 12px;
}

QScrollBar {
    background: transparent;
    border: none;
}
QScrollBar:vertical {
    width: 6px;
    margin: 2px 0px 2px 0px;
}
QScrollBar:horizontal {
    height: 6px;
    margin: 0px 2px 0px 2px;
}
QScrollBar::handle {
    background: $OutlVar;
    border-radius: 3px;
    min-height: 24px;
}
QScrollBar::add-line, QScrollBar::sub-line {
    width: 0px; height: 0px;
    background: none;
}

QSlider, QSlider::groove {
    border: none;
    background: $SurfContnrHighest;
    border-radius: 4px;
    margin: 0px;
}
QSlider:horizontal { height: 24px; }
QSlider:vertical { width: 24px; }
QSlider::groove:horizontal { height: 18px; }
QSlider::groove:vertical { width: 18px; }

QSlider::sub-page { border-radius: 4px; }
QSlider::sub-page:horizontal, QSlider::add-page:vertical { background: $PrimContnr; }

QSlider::handle {
    background: $Prim;
    border-radius: 6px;
    width: 16px;
    height: 16px;
}
QSlider::handle[sliding=true] {
    background: $!Prim;
}

/* Some calendar things */

QWidget#navigation {
    background-color: $SurfContnrHigh;
    padding: 6px 4px;
    border-bottom: 2px solid $OutlVar;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

QWidget#navigation QPushButton {
    color: $OnPrim;
    background-color: $Prim;
    border: none;
    border-radius: 12px;
    padding: 4px 10px;
    margin: 2px;
    font-weight: 600;
}
QWidget#navigation QPushButton:pressed {
    background-color: $!Prim;
}
QWidget#navigation QPushButton:hover,
QWidget#navigation QPushButton:pressed {
    border-radius: 9px;
}

/* Get rid of a yucky line */
QCalendarWidget QAbstractItemView {
    background-color: $SurfContnr;
    border: none;
    outline: 0;
    gridline-color: transparent;
    selection-background-color: transparent;
    selection-color: transparent;
}
