* { color: $OnSurf; }
QMainWindow, *[bg=true] { background-color: $Surf; }
#card {
    background-color: $SurfContnr;
    border-radius: 8px;
}
#cardcont { background-color: $SurfContnr; }
#transpbg { background: transparent; }

#curtxt {
    padding: 8px;
    border-radius: 12px;
}

IcoButton, QPushButton {
    padding: 4px;
    border-width: 2px;
    border-radius: 12px;
}

^^grps

*[btnsty=round] {
    border-radius: 18px;
}
*[btnsty=big] {
    padding: 10px 18px;
    border-radius: 16px;
}

#confirmButtons QPushButton {
    padding: 4px 8px;
}

QFrame[frameShape="4"], QFrame[frameShape="5"] {
    background-color: $Outl;
    color: $Outl;
}

Spoiler QToolButton {
    color: $OnSecContnr;
    background-color: $SecContnr;
    padding: 12px 6px;
    border-radius: 6px;
    qproperty-lineColour: $OutlVar;
    qproperty-lineWidth: 3px;
}
Spoiler QToolButton:pressed {
    background-color: $!SecContnr;
}
Spoiler #contentArea {
    color: $OnSurf;
    background-color: $SurfContnr;
    border-radius: 6px;
}

TaskBubble { background: transparent; }
TaskBubble QLabel[bubble=top] {
    color: $OnPrimContnr;
    background-color: $PrimContnr;
    border-top-left-radius: 12px;
    padding: 8px; padding-bottom: 4px;
}
TaskBubble QLabel[bubble=bot] {
    color: $OnSecContnr;
    background-color: $SecContnr;
    border-bottom-left-radius: 12px;
    padding: 8px; padding-top: 4px;
}
QPushButton[bubblebtn=true] {
    border-width: 2px;
    border-radius: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: 0px;
    padding: 8px; padding-top: 4px;
}

QTextEdit, QLineEdit {
    color: $OnSurf;
    background-color: $SurfContnrHigh;
    border-style: solid;
    border-width: 2px;
    border-color: $OutlVar;
    border-radius: 6px;
    padding: 4px;
}
QTextEdit:focus, QLineEdit:focus {
    border-color: $Outl;
}
QLineEdit { border-radius: 12px; }

QScrollBar {
    background: transparent;
    border: none;
}
QScrollBar:vertical {
    width: 6px;
    margin: 2px 0px 2px 0px;
}
QScrollBar:horizontal {
    height: 6px;
    margin: 0px 2px 0px 2px;
}
QScrollBar::handle {
    background: $OnPrimContnr;
    border-radius: 3px;
    min-height: 24px;
}
QScrollBar::add-line, QScrollBar::sub-line {
    width: 0px; height: 0px;
    background: none;
}

QSlider, QSlider::groove {
    border: none;
    background: $SurfContnrHighest;
    border-radius: 3px;
    margin: 0px;
}
QSlider:horizontal { height: 24px; }
QSlider:vertical { width: 24px; }
QSlider::groove:horizontal { height: 18px; }
QSlider::groove:vertical { width: 18px; }

QSlider::sub-page { border-radius: 3px; }
QSlider::sub-page:horizontal, QSlider::add-page:vertical { background: $PrimContnr; }

QSlider::handle {
    background: $Sec;
    border-radius: 6px;
    width: 16px;
    height: 16px;
}
QSlider::handle[sliding=true] {
    background: $!Sec;
}

/* Some calendar things */

QWidget#navigation {
    background-color: $SurfContnrHigh;
    padding: 6px 4px;
    border-bottom: 2px solid $OutlVar;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

QWidget#navigation QPushButton {
    color: $OnPrim;
    background-color: $Prim;
    border: none;
    border-radius: 12px;
    padding: 4px 10px;
    margin: 2px;
    font-weight: 600;
}
QWidget#navigation QPushButton:pressed {
    background-color: $!Prim;
}

/* Get rid of a yucky line */
QCalendarWidget QAbstractItemView {
    background-color: $SurfContnr;
    border: none;
    outline: 0;
    gridline-color: transparent;
    selection-background-color: transparent;
    selection-color: transparent;
}
