<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1" android:versionName="1.0"
    package="com.example.androidapp">

    <application
        android:label="AndroidApp"
        android:theme="@style/DaCoolTheme">

        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:screenOrientation="user"
            android:configChanges="orientation|screenSize|locale|layoutDirection|fontScale|keyboard|keyboardHidden|navigation|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="AndroidApp" />
        </activity>
    </application>
</manifest>
